body {
  background-color: black;
}

.thead {
  position: sticky;
  top: 0;
}

.form-control {
  border-color: #404142;
}

.form-control:focus {
  color: #ccc !important;
  background-color: #404142 !important;
}
