@import url(https://fonts.googleapis.com/css?family=Inconsolata);
@import url(https://fonts.googleapis.com/css?family=PT+Sans);
@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);

body {
  background-color: black;
  max-width: 100%;
}

html {
  background-color: #282828; /**/
  color: #ebdbb2; /**/
  min-width: 100%;
}

.thead {
  position: sticky;
  top: 0;
}

.form-control {
  border-color: #404142;
}

.form-control:focus {
  color: #ccc !important;
  background-color: #404142 !important;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: "\201C""\201D""\2018""\2019";
}
sub,
svg:not(:root) {
  overflow: hidden;
}
legend {
  border: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-family: "PT Sans", sans-serif;
}
pre,
code {
  font-family: "Inconsolata", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
}
body {
  background-color: #3c3836; /**/
  margin: 0 auto;
}
a {
  color: #83a598; /**/
}
a:visited {
  color: #53514f; /**/
}
a:hover {
  color: #d65d03; /**/
}

footer {
  background: #282828;
  color: white;
  padding: 3px;
  padding-right: 10px;
  padding-left: 10px;
}

.footer-left {
  float: left;
}

.footer-right {
  float: right;
}

.green-score {
  color: rgb(22, 120, 63);
}

.red-score {
  color: rgb(175, 21, 21);
}
